<%-include ("base") %>
<%- include ("header") %>

<div id="buy_comp">
    <h1>ご購入ありがとうございました。</h1>
    <div id="delivery">
        <p>購入された商品は</p>
        <b>3</b><b>月</b><b>8</b><b>日</b>
        <p>までにお届けいたします。</p>
    </div>
    <div class="buttons">
        <a href="/Top"><button class="purchase_button">TOPページへ</button></a>
    </div>
</div>
<div id="any_back_img">
    <img id="back_img" src="image/background/login.png" usemap="#shelf_map" alt="" />
</div>
<%-include ("footer") %>
