<%-include ("base") %>
<h1>購入完了</h1>
<div>
    <h2>購入が完了しました。</h2>
    <p>3</p><p>月</p><p>8</p><p>日</p>
    <p>までのお届けとなります。</p>
</div>
<a href="/">TOPページ</a>
<a href="/Shelf">棚ページ</a>
<%-include ("footer") %>
