<header>
    <!-- 階層に関して、 -->
    <!-- id,classに関して、 -->
    <!-- に関して、 -->
    
    <div id="header_wrapper">
        <!-- ロゴ表示 -->
        <div id="logo">
            <div id="logo_icon">
                <img src="image/noimage.jpg" alt="noimage">
            </div>
            <div id="logo_titol">
                <img src="image/noimage.jpg" alt="noimage">
            </div>
        </div>
        <!-- 検索バー -->
        <div id="search">
            <input type="text">
        </div>
        <!-- その他アイコン -->
        <div id="link_icon">
            <li>カゴ</li>
            <li>お気に入り</li>
            <li>マイページ</li>
            <li>ログイン</li>
            <li>会員登録</li>
        </div>
    </div>
    
</header>