<header>
    <!-- 階層に関して、 -->
    <!-- id,classに関して、 -->
    <!-- に関して、 -->
    <div id="header_wrapper">
        <!-- ロゴ表示 -->
        <div id="logo">
            <div id="logo_titol">
                <a href="/Top">
                    <img src="image/rogo/rogo.png" alt="logo">
                </a>
            </div>
        </div>
        <!-- 検索バー -->
        <div id="search">
            <input type="text">
            <a href="/Poster"><button>検索</button></a>
        </div>
        <!-- その他アイコン -->
        <div id="link_icon">
            <li><a href="/Shelf"><i class="fa-solid fa-list"></i></a></li>
            <li><a href="/Cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/Check"><i class="fa-solid fa-cash-register"></i></a></li>
            <li><a href="/Poster"><i class="fa-solid fa-ranking-star"></i></a></li>
            <% if (session.login) {%>
                <li><a href="/Logout">ログアウト</a>
            <% }else{ %>
                <li><a href="/Login">ログイン</a></li>
                <li><a href="/Signup">会員登録</a></li>
            <% } %>
        </div>
    </div>
</header>