<%-include ("base") %>
<main>
    <h1>TOPページ</h1>
    <ol>
        <li><a href="/Check">会計</a>：未実装</li>
        <li><a href="/Poster">ポスター</a>：未実装</li>
        <li><a href="/Shelf">棚</a>：未実装</li>
        <li><a href="/Login">ログイン</a>：未実装</li>
        <li><%- session.login %></li>
        <li><a href="/Signup">会員登録</a>：実装済み（DB連携済み）</li>
        <li>（正規化のみ未実装）</li>
    </ol>
</main>
<%-include ("footer")  %>