<%-include ("base") %>
<%- include ("header") %>

<!-- formタブから出なければ問題なし -->
<!-- 表示したい文言（エラー文等）及び情報がある場合は要相談 -->
<main class="login_wrapper">
    <h1 class="border_bottom">ログイン</h1>
    <form action="/Login" method="post" class="login_form">
        <div class="login_block">
            <p>ユーザ名もしくはメールアドレス</p>
            <input type="text" name="user_input">
            <p>パスワード</p>
            <input type="password" name="password">
            <!-- ログインエラー文 -->
            <p><%- session.loginErr ? session.loginErr : "" %></p>
        </div>
        <div class="button_wrapper">
            <input type="submit" class="button" value="ログイン">
        </div>
    </form>
    <a href="/Signup" class="signup_link">会員登録へ</a>
    <!-- <a href="/">TOPページ</a> -->
</main>
<%-include ("footer") %>