<%-include ("base") %>
<%- include ("header") %>
<div id="poster_back_img">
    <img id="back_img" src="image/background/gomenne.png" usemap="#poster_map" alt="" />
    <map name="poster_map">
        <area shape="poly" class="hover" id="top" coords="179,359,152,362,120,400,108,431,111,479,112,498,92,539,112,558,134,607,44,610,67,681,189,713,242,670,278,707,317,698,319,635,347,618,363,584,369,556,394,541,388,518,375,500,373,474,335,407,299,372,265,353,224,345,224,344" href="/Top" alt="" />
        <area shape="poly" class="hover" id="product" coords="541,361,518,363,494,392,473,430,476,479,473,502,456,522,454,540,473,559,493,608,402,610,435,682,554,717,606,673,640,713,678,698,685,664,683,632,709,620,733,557,759,539,740,502,723,438,680,379,629,352,587,346,585,344" href="/Shelf" alt="" />
        <area shape="poly" class="hover" id="cart" coords="879,356,859,361,821,407,808,441,811,481,811,498,794,522,791,544,814,554,826,596,849,624,860,628,867,646,833,655,870,720,997,717,1045,659,1021,648,1018,634,1044,618,1072,556,1089,541,1085,520,1071,502,1064,454,1045,416,1012,377,973,354,927,345,927,346" href="/Cart" alt="" />
        <area shape="poly" class="hover" id="check" coords="1212,360,1190,360,1157,401,1143,437,1145,481,1147,505,1129,526,1129,545,1148,556,1170,618,1201,636,1198,688,1227,708,1260,696,1270,677,1332,722,1452,676,1472,608,1384,608,1404,558,1423,542,1422,520,1406,499,1394,456,1364,400,1336,372,1298,350,1255,346,1270,344" href="/Check" alt="" />
        <area shape="poly" class="hover" id="logout" coords="1579,357,1561,364,1528,393,1504,432,1510,498,1494,519,1491,540,1513,557,1528,599,1561,634,1563,689,1596,710,1621,702,1635,679,1695,722,1822,675,1840,611,1752,610,1768,557,1792,540,1790,523,1774,503,1769,481,1764,451,1718,386,1673,357,1624,343,1624,343" href="/Logout" alt="" />
      </map>
</div>
<%-include ("footer") %>
