<%-include ("base") %>
<div id="top_wrap">
    <div id="back_img">
        <img src="image/background/top_back.png" usemap="#ImageMap" alt="top_back" />
        <map name="ImageMap">
            <area shape="poly" coords="873,541,742,595,744,661,652,706,651,819,1912,934,1917,567,1899,565" href="/Shelf" alt="棚" />
            <area shape="poly" coords="1,1055,1,1078,627,1076,733,1004,735,856,564,812,559,814" href="/Check" alt="会計" />
            <area shape="poly" coords="502,151,685,240,685,435,500,487,491,459" href="/Poster" alt="ポスター" />
        </map>
    </div>
</div>
<%-include ("header") %>
<%-include ("footer")  %>