* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
  color: #000;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
a,
form {
  width: 100%;
  height: 100%;
}
button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
h1,
h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
/* header */
#header_wrapper {
  width: 100vw;
  height: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
#logo {
  width: 10%;
  height: 100%;
  border: #000 1px solid;
}
#logo img {
  width: 100%;
  height: 100%;
}
#header_nav {
  width: 90%;
  height: 100%;
  border: 1px solid #000;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 30px; */
}
#header_nav li {
  list-style: none;
  width: calc(100% / 12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.function {
  height: 50px;
  /* border: #000 1px solid; */
}

/* main */
#main_wrapper {
  width: 100vw;
  height: calc(100vh - 150px);
  padding: 5px;
}
#click_area_base {
  width: 1500px;
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: #000 1px solid; */
}
#click_area_base a {
  width: 300px;
  height: 500px;
}
.click_area {
  width: 100%;
  height: 100%;
  border: #000 1px solid;
  padding: 5px;
}
#product_base {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.product {
  width: 200px;
  height: 200px;
  border: #000 1px solid;
}

/* foodter */
#footer_wrapper {
  width: 100vw;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
#footer_wrapper small {
  height: 100%;
  margin: auto;
}

/* ログイン、会員登録 */
#login_wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#login_form {
  width: 500px;
  height: 500px;
  background-color: #fff;
}
.log_btn {
  width: 200px;
  height: 50px;
}
