<%-include ("base") %> <%-include ("mainheader", {page: "Cart"}) %>
<main class="cart_main">
  <h2>かごに入っている商品</h2>

  <section class="cart_info">
    <img src="images/no_image.png" alt="" />

    <div class="info_box">
      <h3>商品名</h3>
      <p>値段計算</p>
      <button>かごから削除</button>
    </div>
  </section>
  <section class="cart_info">
    <img src="public/img/noImage.png" alt="" />

    <div class="info_box">
      <h3>商品名</h3>
      <p>値段計算</p>
      <button>かごから削除</button>
    </div>
  </section>
  <section class="cart_info">
    <img src="images/no_image.png" alt="" />

    <div class="info_box">
      <h3>商品名</h3>
      <p>値段計算</p>
      <button>かごから削除</button>
    </div>
  </section>
</main>
<%-include ("footer", {page: "Cart"}) %>
