<%-include ("base") %>
<%-include ("mainheader", {page: "Favorite"}) %>
<main class="favorite_main">
    <h2>お気に入り商品</h2>
    <% if  %>

    <section class="favorite_info">
        <img src="images/no_image.png" alt="">

        <div class="info_box">
            <h3>商品名</h3>
            <p>簡単な説明</p>
            <button>お気に入りから削除</button>
        </div>
    </section>
    <section class="favorite_info">
        <img src="images/no_image.png" alt="">

        <div class="info_box">
            <h3>商品名</h3>
            <p>簡単な説明</p>
            <button>お気に入りから削除</button>
        </div>

    </section>
    <section class="favorite_info">
        <img src="images/no_image.png" alt="">
        <div class="info_box">
            <h3>商品名</h3>
            <p>簡単な説明</p>
            <button>お気に入りから削除</button>
        </div>
    </section>
</main>
<%-include ("footer", {page: "Favorite"})  %>
