<%-include ("base") %>
<%-include ("mainheader", {page: "index"}) %>
<main>
    <h1>TOPページ</h1>
    <ol>
        <li><a href="/Check">会計</a></li>
        <li><a href="/Poster">ポスター</a></li>
        <li><a href="/Shelf">棚</a></li>
    </ol>
</main>
<%-include ("footer", {page: "index"})  %>

