<%- include ("body_start") %>
<%- include ("header", {page: ""}) %>

<main id="main_wrapper">
    <h1>TOPページ</h1>
    <div id="click_area_base">
        <a href="/poster">
            <div class="click_area">
                <h2>ポスター</h2>
            </div>
        </a>
        <a href="/check">
            <div class="click_area">
                <h2>会計</h2>
            </div>
        </a>
        <a href="/shelf">
            <div class="click_area">
                <h2>棚</h2>
            </div>
        </a>
    </div>
</main>

<%- include ("footer") %>
<%- include ("body_end") %>
