<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>test</title>
</head>
<body>
    <h1>HEW2024 Group3</h1>
    <h2>データ追加</h2>

    <form action="add">
        <input type="text" name="name" id="">
        <input type="submit" value="追加">
        <p><%= mes %></p>
    </form>
    
    <%- check %>
    <a href="/">TOPページ</a>
</body>
</html>