<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>test</title>
</head>
<body>
    <h1>HEW2024 Group3</h1>

    <ul>
        <li><a href="view">DB接続確認</a></li>
        <li><a href="search">データ検索</a></li>
        <li><a href="add">データ追加</a></li>
        <li><a href="update">データ更新</a></li>
        <li><a href="post">POST</a></li>
    </ul>

</body>
</html>