<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>test</title>
</head>
<body>
    <h1>HEW2024 Group3</h1>
    <h2>データ更新</h2>

    <form action="update" method="get">
        <p>変更するIDを入力してください。</p>
        <input type="number" name="id">
        <p>変更内容を入力してください。</p>
        <input type="text" name="name">
        <input type="submit">
    </form>
    <p><%= mes %></p>
    <a href="view"><%= check %></a>
    <a href="/">TOPページ</a>
</body>
</html>